<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hw1_cargame" >

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_new"
        android:label="Car Game"
        android:roundIcon="@mipmap/ic_launcher_new_round"
        android:supportsRtl="false"
        android:theme="@style/Theme.HW1_CarGame" >
        <activity
            android:name=".activities.Activity_Splash"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".activities.Activity_Entry"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.Activity_Game"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.Activity_GameOver"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.Activity_Settings"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.Activity_Scores"
            android:exported="false" />
    </application>

</manifest>